
<h3>Registro de nuevo usuario</h3>

<p><%= notice %></p>

<%= form_with(model: @user, local: true) do |form| %>

	<%= form.label :name %>
	<%= form.text_field :name %> <br>

	<%= form.label :email %>
	<%= form.text_field :email %> <br>

	<%= form.label :password %>
	<%= form.password_field :password %> <br>

	<%= form.label :password_confirmation %>
	<%= form.password_field :password_confirmation %> <br>

	<%= form.submit 'Enviar' %>

<% end %>
